:root {
  --primary-color: #272044;
  --secondary-color: #ffff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: rgb(178, 201, 250);
  font-family: "Blinker", sans-serif;
  font-weight: 400;
}

h1,
h3,
h4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
  color: var(--primary-color);
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

p {
  padding: 40px;
}

.description {
  text-align: center;
  margin: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.croissant {
  margin-top: 50px;
  margin-bottom: 10px;
  border: solid 4px #ffff;
  border-radius: 5px;
  max-width: 350px;
}

.main-pages {
  display: block;
  margin: auto;
  max-width: 700px;
  border: solid 6px #ffff;
  border-radius: 5px;
  padding-bottom: 100px;
  background: radial-gradient(
    1224px at 10.6% 8.8%,
    rgb(255, 255, 255) 0%,
    rgb(153, 202, 251) 100.2%
  );
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.home-link {
  padding: 50px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.photo-link {
  padding: 50px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.contact-link {
  padding: 50px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.homepage-button {
  margin: 20px;
  padding: 15px;
  font-family: "Blinker", sans-serif;
  border-radius: 4px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: solid var(--secondary-color);
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 4px 12px 12px 4;
  cursor: pointer;
}

.photo-button {
  margin: 20px;
  padding: 15px;
  font-family: "Blinker", sans-serif;
  border-radius: 4px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: solid var(--secondary-color);
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 4px 12px 12px 4;
  cursor: pointer;
}

.contact-button {
  margin: 20px;
  padding: 15px;
  font-family: "Blinker", sans-serif;
  border-radius: 4px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: solid var(--secondary-color);
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 4px 12px 12px 4;
  cursor: pointer;
}

.photo-button:hover {
  background: #5ca5e0;
  color: var(--primary-color);
  border: 1px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.contact-button:hover {
  background: #5ca5e0;
  color: var(--primary-color);
  border: 1px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.homepage-button:hover {
  background: #5ca5e0;
  color: var(--primary-color);
  border: 1px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
